.meme{
    margin-top: 50px;
    padding: 20px;
}
.form {
    display: grid;
    grid-template: 50px 50px / 1fr 1fr;
    gap: 17px;
}

.form--inputs {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border: none;
    cursor: pointer;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff

}
.imageGenerated{
    width: 100%;
    left:auto;
    right:auto;
    margin-left:auto;
    margin-right: auto;
    height: 500px;
}
img{
    left:0px;
    right:0px;
    margin-left:30%;
    margin-right: ;

}